<header>
    <ul class="nav nav-underline flex-column flex-sm-row">
        <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true">MY H0ME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">ABOUT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact">CONTACT</a>
        </li>
    </ul>
</header>
