
<form action="/form-add" method="post">

    <label for="">Nama Lengkap</label><br>
    <input name="name" type="text"><br><br>
    <label for="">Email</label><br>
    <input name="email" type="text"><br><br>
    <label for="">Mobile</label><br>
    <input name="mobile" type="text"><br><br>

    <button type="submit"> tambah </button>
</form>
<form>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>