
<div class="container">
    <div class="row">
        <div class="col text-center">
            <img class="img-thumbnail rounded-circle" style="width: 400px; height:300px " src="/assets/nasigorengjumbo.jpg" alt="nasi goreng jumbo maksimal">
            <h1 class="display-4">NasGor Mblengerr</h1>
            <p class="lead">NasGor jumbo maksimal cuma 5 rebu? beli sekarang </p>
        </div>
    </div>
</div>